/* colors 赤 #CA3D33 */
/* colors 淡い緑　#FAFFDC */

* {
    margin: 0;
    padding: 0;
}

/* ==== NAVIGATION === */
nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding: 12px 48px;
    box-shadow: 0px 4px 4px #616161;
    align-items: center;
    position: relative;
    z-index: 900;

}

nav .logo-area {
    /* padding: 8px 0; */
    width: 25%;
    display: flex;
    justify-content: center;
}

nav .logo-area a {
    display: flex;
    align-items: center;
    font-size: 40px;
    white-space: nowrap;
    color: #CA3D33;
}

nav .logo-area a img {
    width: 25%;
    margin-right: 24px;
}

nav .nav-items {
    padding: 16px 0;
}

nav a {
    text-decoration: none;
}

/* ==== NAVIGATION END === */

footer {
    font-size: 0.8rem;
    padding: 8px 0;
    display: flex;
    justify-content: center;
}


/* ==== HOME PAGE === */

header {
    display: flex;
    justify-content: center;
    height: 480px;
    background-color:rgb(184, 184, 184);
    background-image: url(../images/board.jpg);
    background-size: cover;
    position: relative;
    padding: 6% 0;
}

header .content {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: white;
    -webkit-text-stroke: 2px black;
}

header img.top-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}

section {
    padding: 48px;
    display: flex;
    justify-content: center;
}

section.home {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/お供/hlcow.png);
    background-size: 100%, 10%;
    background-repeat: no-repeat, repeat;
    position: relative;
}

section .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .content .subtitle {
    
}

section.home #animal-friend {
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 15%;
    animation: walk-across;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes walk-across {
    0% {
        right: 0;
        scale: 100%;
    }
    50% {
        right: 30%;
        scale: 50%;
    }
    100% {
        right: 100%;
        scale: 100%;
    }
}
#animal-friend img{
    width: 100%;
}

section .content .text-detail {
    display: flex;
    width: 66%;
    /* justify-content: space-between; */
}

section .content .text-detail p.col {
    padding: 5% 8%;
    /* border: 1px solid red; */
    width: 50%;
    line-height: 2rem;
}

section.sns-info {
    width: 100%;
    background-color: #FAFFDC;
    padding: 6% 0;
}
section.sns-info .content {
    margin: 0 auto;
    display: block;
    width: fit-content;
}

section.sns-info .content .sns-item {
    display: flex;
    align-items: center;
    margin: 32px 0;
}

section.sns-info .content .sns-item img.icon {
    width: 48px;
}

section.sns-info .content .sns-item a.sns-link {
    margin-left: 18px;
    text-decoration: none;
}

/* ==== HOME PAGE END === */


/* ==== PROJECTS PAGE === */
section.projects {
    height: 95vh;
}
/* ==== PROJECTS PAGE END === */